.bg-gray-100 {
    background-color: #eaeafb;
}
.bg-gray-200 {
    background-color: #d0d0ec;
}
.bg-gray-300 {
    background-color: #babade;
}
.bg-gray-400 {
    background-color: #8f8fb7;
}
.bg-gray-500 {
    background-color: #717196;
}
.bg-gray-600 {
    background-color: #4f4f71;
}
.bg-gray-700 {
    background-color: #3c3c5d;
}
.bg-gray-800 {
    background-color: #262644;
}
.bg-gray-900 {
    background-color: #1b1b33;
}