::ng-deep {
    .rtl {
        .ngx-notifier {
            left: 1rem;
            right: auto !important;
        }

        .ngx-notifier .close {
            left: 0;
            right: auto !important;
        }

    }
}