<div class="page-header">
   <div>
      <h2 class="main-content-title tx-24 mg-b-5">{{'Edit Users' | translate | titlecase}}</h2>
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="javascript:;" [routerLink]="['/dashboard']">{{'dashboard' |
               translate | titlecase}}</a></li>
         <li class="breadcrumb-item"><a href="javascript:;" [routerLink]="['/users/users-list']">{{'Users List' |
               translate | titlecase}}</a></li>
         <li class="breadcrumb-item active" aria-current="page">{{'Edit Users' | translate | titlecase}}</li>
      </ol>
   </div>
</div>